@layer base {
  @font-face {
    font-family: "Pretendard";
    src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
    font-weight: normal;
  }

  @font-face {
    font-family: "Pretendard";
    src: url("../fonts/Pretendard-SemiBold.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Pretendard";
    src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
    font-weight: bold;
  }
}
