@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
