.modal {
  @apply top-0 fixed left-0 z-[11] overflow-y-auto overflow-x-hidden h-full w-full flex items-center max-md:px-4 max-md:py-14;
}

.modal::before {
  content: "";
  @apply fixed top-0 left-0 z-[1] w-screen h-screen backdrop-blur-[20px];
  background: linear-gradient(
    131.09deg,
    rgba(29, 29, 27, 0.49) 8.8%,
    rgba(29, 29, 27, 0.76) 88.99%
  );
}

.modal__content {
  @apply pl-6 pr-6 mx-auto relative rounded-2xl z-[11] bg-grey-800 max-md:max-w-full text-grey-300 max-md:h-full max-md:flex max-md:flex-col;
}

.modal__footer {
  @apply flex items-center md:gap-8 gap-[18px] max-md:flex-col;
}

.modal__footer button {
  @apply max-md:max-w-[250px];
}
