.prem-img-services__container {
  backdrop-filter: blur(15px);
  @apply md:px-[50px] px-[25px] bg-gradient-default;
}

.prem-img-services__container img {
  @apply mx-auto rounded p-[1.2px] bg-gradient-border-bg;
  border-image-source: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
  box-shadow: 0 3px 18px -0.766141px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15.3228px);
}

.prem-image-sidebar {
  @apply overflow-x-hidden overflow-y-auto flex flex-col h-full max-md:pr-3;
}

.prem-image-sidebar ul {
  @apply relative mt-7;
}

.prem-image-sidebar li {
  @apply items-start;
}

.prem-image-sidebar ul li span,
.prem-image-sidebar ul li a {
  @apply text-sm;
}

.prem-image-sidebar ul li a {
  @apply flex-wrap;
}

.close-sidebar {
  border-color: rgba(219, 213, 213, 0.3);
}

.prem-image--right-sidebar {
  @apply max-md:h-full max-md:fixed;
}

.prem-img__box:hover {
  transition: color 0.5s;
}

.prem-img__box:hover:before {
  @apply bg-primary opacity-30;
}

.prem-img__box:before {
  content: "";
  @apply absolute rounded right-0 left-0 bottom-0 top-0 bg-transparent opacity-50 z-[1];
}

.prem-img__box a {
  background: rgba(237, 237, 237, 0.2);
  @apply w-[35px] h-[35px] rounded absolute bottom-[18px] left-[18px] z-10 flex items-center justify-center;
}

.prem-img__box a svg {
  @apply mx-auto w-4 h-4;
}

.prem-img__box:hover a {
  transition: background-color 0.5s;
  background-color: rgba(33, 36, 44, 0.435);
}

.prem-img-promptbox textarea {
  @apply py-2 px-4 text-sm text-grey-100 custom-scroll resize-none;
}

.prem-img-promptbox span {
  @apply text-sm text-grey-400  text-center break-words;
}

.gallery {
  @apply md:grid flex flex-wrap pb-8;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 5vw);
}

.gallery img {
  @apply w-full h-full object-cover;
}

@media (max-width: 767px) {
  .gallery .prem-img__box {
    width: calc(50% - 13px);
  }
}
.gallery .prem-img__box {
  @apply cursor-pointer;
}

.gallery .prem-img__box:first-child {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery .prem-img__box:nth-child(2) {
  grid-column-start: 9;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery .prem-img__box:nth-child(3) {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery .prem-img__box:nth-child(4) {
  grid-column-start: 7;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery .prem-img__box[data-cols="1"]:nth-child(1).gridcol2 {
  grid-row-end: 4;
}

.gallery .prem-img__box[data-cols="1"]:nth-last-child(2) {
  grid-row-end: 4;
}

.gallery .prem-img__box[data-cols="1"]:last-child.gridcol2 {
  grid-row-end: 7;
}

.gallery .prem-img__box[data-cols="2"]:last-child.gridcol3 {
  grid-row-start: 4 !important;
  grid-column-start: 5 !important;
}

.gallery .prem-img__box[data-cols="1"]:last-child.gridcol4 {
  grid-row-end: 7;
}
