.prem-chat-container .bg-lines::before {
  @apply max-md:hidden bg-cover;
  background-position: 0 100%;
}

.prem-chat-right-sidebar {
  @apply bg-grey-800 flex-col px-4 flex h-screen w-[260px] max-md:absolute max-md:z-10 right-0 max-md:top-0;
}

.prem-chat-sidebar .sidebar {
  @apply max-md:fixed max-md:z-[11] max-md:w-full max-md:p-5 max-md:top-0 max-md:bottom-0 max-md:overflow-hidden max-md:bg-grey-800;
}

.prem-chat-sidebar .sidebar li.active {
  @apply max-md:bg-grey-900;
}

.prem-chat-sidebar .sidebar__logo {
  @apply max-md:max-w-[100px] max-md:ml-3;
}

.prem-chat-sidebar .sidebar__search {
  @apply max-md:h-[38px];
}

.prem-chat-sidebar .sidebar li a {
  @apply max-md:text-[12px];
}

.prem-chat {
  @apply mt-8 border-2 border-grey-400 rounded-md;
}

.prem-chat select {
  @apply bg-transparent  cursor-pointer border border-grey-400 text-grey-200 w-full z-10 px-4 py-[6px] appearance-none;
}

.prem-chat-textarea {
  @apply bg-grey-700  text-white md:text-sm text-[13px] rounded-[29px] min-h-[57px] max-h-40 overflow-auto mt-[14px] md:pl-[33px] md:pr-16 pr-12 pl-4;
}

.prem-chat-textarea .textarea-container {
  @apply h-full w-full;
}

.prem-chat-textarea .expandable-textarea {
  @apply h-full w-full outline-none;
}

/*
  @apply bg-grey-700  text-white md:text-sm text-[13px] outline-none rounded-[29px] h-[57px] mt-[14px] md:pl-[33px] md:pr-16 pr-12 pl-4 w-full;

 */
/*
.prem-chat-textarea textarea:-webkit-autofill,
.prem-chat-textarea textarea:-webkit-autofill:hover,
.prem-chat-textarea textarea:-webkit-autofill:active,
.prem-chat-textarea textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #302f32;
  -webkit-box-shadow: 0 0 0 1000px #302f32 inset;
  transition: background-color 5000s ease-in-out 0s;
}
*/

.prem-chat-textarea img {
  @apply bg-primary-light p-2 w-[35px] h-[35px] rounded-full stroke-white;
}

.prem-chat-textarea button {
  @apply absolute md:right-[21px] right-[12px] top-[25px];
}

.prem-chat-bottom {
  width: calc(100% - 259px);
  @apply fixed z-10 mt-auto bottom-0 pb-[33px] left-auto right-0;
}

@media (max-width: 767px) {
  .prem-chat-bottom {
    @apply flex items-center mt-0 w-full left-0 bg-grey-900;
  }

  .prem-chat-body {
    @apply pb-[100px] overflow-y-auto;
  }
}

.bot-reply {
  @apply flex mb-[40px] w-full;
}

.bot-reply .markdown-body a {
  @apply text-[#28292d];
}

.bot-reply .markdown-body a:hover {
  border-color: rgb(40 41 45 / 32%) !important;
}

.prem-chat-body {
  @apply overflow-y-auto;
}

.prem-chat-body .bot-reply .markdown-body h2,
.prem-chat-body .bot-reply .markdown-body h1 {
  border-color: rgb(40 41 45 / 32%) !important;
}

.prem-chat-body .bot-reply .markdown-body blockquote {
  @apply !text-white;
}

.bot-reply > p {
  @apply p-4 w-full text-white;
  max-width: 660px;
  border-radius: 0 10px 10px 10px;
  background: linear-gradient(90.54deg, #e9928e 0%, #f49893 100%);
  box-shadow: 0 4px 27px -1.12466px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(22px);
}

.bot-reply__icon {
  @apply bg-primary-light w-[38px] h-[38px] rounded-full flex justify-center items-center;
}

.user-reply {
  @apply flex items-end mb-[40px];
}

.user-reply p {
  @apply bg-grey-100 border py-4 px-[22px] ml-auto max-w-[660px]  text-base text-grey-700;
  box-shadow:
    10.4294px 10.4294px 26.0736px rgba(112, 124, 151, 0.05),
    15.6442px 15.6442px 36.5031px rgba(112, 124, 151, 0.05);
  border-radius: 10px 10px 0 10px;
  border-color: rgba(112, 124, 151, 0.25);
}

.prem-chat-sidebar .sidebar li a span {
  @apply whitespace-nowrap w-[180px] text-ellipsis overflow-hidden;
}

.prem-chat-sidebar .sidebar li {
  @apply max-md:px-2;
}
