@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Pretendard";
}
.font-proximaNova-regular {
  font-family: "ProximaNova-Regular";
}

header {
  @apply h-[70px] mx-[19px] flex items-center;
}
header img {
  @apply w-[140px];
}

.docker-not-detected {
  @apply dark:bg-darkjunglegreen min-h-screen;
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.bg-lines::before {
  content: "";
  opacity: 0.1;
  background: url("../images/lines-bg.png") no-repeat;
  background-position: 50% 100%;
  @apply absolute top-0 right-0 left-0 w-full h-full bg-contain bottom-0;
}

.docker-not-detected__modal {
  @apply text-white relative;
  background: #26262a;
  margin: 1.5px;
}
.docker-modal-wrap {
  background: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
}
.docker-not-detected__modal::before {
  content: "";
  @apply absolute right-0 opacity-50;
  bottom: 77px;
  height: 500px;
  width: 600px;
  background: url("../images/gradient-shap.png") no-repeat;
}

.docker-not-detected__modal hr {
  border-color: rgba(237, 237, 237, 0.34);
}

.modal-height {
  margin-bottom: 20px;
}

.btn-outline {
  padding: 8px 20px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  transition: 0.4s;
}
.btn-outline:hover {
  @apply border-tulip text-white;
}

.btn-outline-circle {
  @apply rounded-full transition-colors;
  font-family: "ProximaNova-bold";
  padding: 12px 20px;
}

.dashboard {
  @apply bg-darkjunglegreen pb-12;
}

.dashboard::after {
  content: "";
  background: url("../images/bottom-gradient.png") no-repeat;
  @apply max-xl:bg-bottom bg-contain w-full h-[70%];
  @apply absolute bottom-0 xl:w-[70%] xl:h-[700px] xl:bg-cover left-0 right-0 mx-auto z-0;
}

.dashboard-top h1 {
  @apply font-bold text-[47px] leading-[40px] max-md:text-[40px] mt-4;
}
.dashboard-top h2 {
  @apply text-[30px] leading-[55px] max-md:leading-[48px] max-md:text-[28px];
}
.dashboard-top p {
  @apply text-[18px] leading-[28px];
}

.dashboard-bottom {
  @apply flex flex-wrap gap-8;
}

.dashboard__popular-app h2 {
  background: linear-gradient(90.13deg, #f49e97 6.35%, #f4bf97 82.76%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  letter-spacing: 0.035em;
}

.dashboard-bottom__card {
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  @apply p-7 dark:text-white relative bg-transparent rounded-[20px] w-[282px];
}
.dashboard-bottom__card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1.5px;
  background: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.dashboard-bottom__card-box {
  @apply bg-lightsalmonpink rounded-[11px] h-[54px] w-[54px] mb-[30px] flex items-center justify-center;
}
.dashboard-bottom__card h3 {
  letter-spacing: 0.035em;
  @apply text-xl font-bold leading-[20px] text-brightgray;
}
.dashboard-bottom__card p {
  @apply text-sm leading-[30px] text-brightgray font-proximaNova-regular;
}
.dashboard-bottom__card .btn-outline-circle {
  @apply border-[1.5px] dark:border-brightgray dark:text-brightgray mt-[55px];
}

.dashboard-bottom__card .btn-outline-circle:hover {
  @apply border-tulip text-tulip;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .dashboard-bottom {
    @apply gap-4;
  }
  .dashboard-bottom__card {
    width: 238px;
  }
}

.sidebar {
  background-color: rgba(32, 35, 43,1);
  @apply w-[260px];
}
.sidebar-toggle .sidebar {
  @apply w-auto;
}

.sidebar li {
  @apply flex items-center py-[15px] px-5 hover:bg-darkjunglegreen rounded-md;
}
.sidebar li a {
  @apply w-full flex dark:text-cultured text-base font-proximaNova-regular;
}
.sidebar__search input {
  @apply font-proximaNova-regular text-manatee text-base;
  background-color: rgba(77, 77, 79, 0.22);
}
.sidebar__search button {
  @apply bg-darkliver w-[65px] h-[50px] rounded-md flex items-center justify-center;
}

.sidebar-toggle__btn {
  @apply text-base font-proximaNova-regular dark:text-cultured mt-[-60px] ml-[25px];
}
.sidebar-toggle  {
  @apply w-[70px];
}

.sidebar-toggle .sidebar li span,
.sidebar-toggle .sidebar-toggle__btn span,
.sidebar-toggle .sidebar__logo,
.sidebar-toggle .sidebar li button svg {
  @apply hidden;
}
.sidebar-toggle .sidebar li {
  @apply px-0 justify-center;
}

.sidebar-toggle .sidebar__search {
  @apply flex-col mt-4;
}
.sidebar-toggle .sidebar__search input {
  @apply w-[50px] px-[10px] mb-3;
}
.sidebar-toggle .sidebar__search img {
  @apply left-[15px];
}

.sidebar-toggle .sidebar__search input::placeholder {
  @apply opacity-0;
}
.sidebar-toggle .sidebar__search button {
  @apply w-[50px];
}
.sidebar-toggle .sidebar li a {
  @apply justify-center w-5 h-5;
}

.border-light {
  border-color: rgba(219, 213, 213, 0.1);
}

.prem-chat {
  @apply mt-8 border-2 border-lavendergray rounded-md;
}
.prem-chat select {
  @apply bg-transparent font-proximaNova-regular cursor-pointer border border-lavendergray text-cultured w-full z-10 px-4 py-[6px] appearance-none;
}

.custom-select {
  @apply relative;
}

.custom-select button {
  @apply absolute right-0 bottom-0 top-0 p-4 z-[-1];
}

.prem-chat-input input {
  @apply bg-darkcharcoal font-proximaNova-regular text-white text-sm outline-none rounded-[29px] h-[57px] mt-[14px] py-2 pl-[33px] pr-16 w-full;
}
.prem-chat-input svg {
  @apply bg-americanpink p-2 w-[35px] h-[35px] rounded-full stroke-white;
}
.prem-chat-input button {
  @apply absolute right-[21px] top-[25px];
}
.prem-chat-bottom {
  @apply sticky z-10 mt-auto bottom-0 pb-[33px] left-0 right-0 w-full ;
}
.prem-chat-body {
  height: calc(100vh - 116px);
}

.bot-reply {
  @apply flex mb-[40px] mr-[70px];
}
.bot-reply p {
  background: linear-gradient(90.54deg, #E9928E 0%, #F49893 100%);
  border-radius: 0px 10.4294px 10.4294px 10.4294px;
  @apply py-[14px] ml-[23px] w-full px-[22px];
  @apply text-ghostwhite font-proximaNova-regular text-lg;
}
.bot-reply span {
  @apply bg-ruddypink w-[38px] h-[38px] rounded-full flex justify-center items-center;
}
.user-reply {
  @apply flex items-end mb-[40px];
}
.user-reply p {
  @apply bg-isabelline border py-4 px-[22px] ml-auto max-w-fit font-proximaNova-regular text-base text-arsenic;
  box-shadow: 10.4294px 10.4294px 26.0736px rgba(112, 124, 151, 0.05), 15.6442px 15.6442px 36.5031px rgba(112, 124, 151, 0.05);
  border-radius: 10px 10px 0 10px;
  border-color: rgba(112, 124, 151, 0.25);
}
.right-sidebar__list li {
  @apply mb-[18px];
}
.right-sidebar__list li p {
  @apply font-proximaNova-regular text-base justify-between flex mb-6;
}

.right-sidebar__list li span:first-child {
  @apply text-cultured ;
}
.right-sidebar__list li span:last-child {
  @apply text-spanishgray;
}

.range-slider {
  @apply h-[3px];
  background-color: rgba(237, 237, 237, 0.1);
}

.range-slider .range-slider__range {
  background-color: rgba(245, 142, 142, 1);
  @apply !left-0;
}
.range-slider .range-slider__thumb {
  @apply h-3 w-3;
  background: linear-gradient(146.31deg, #F58E8E 28.33%, #F5C58C 71.67%);
}
.range-slider .range-slider__thumb:nth-child(3) {
  @apply hidden;
}

.range-slider .range-slider__thumb::before {
  content: "";
  background: rgba(249, 201, 161, 0.4);
  @apply absolute right-[-2px] left-[-2px] bottom-[-2px] top-[-2px] rounded-full;
}




.dropdown {
  @apply relative;
}

.dropdown-content {
  @apply rounded absolute right-0 z-10 left-0 w-full bg-[#303036];
  box-shadow: 0px 4.49864px 26.9918px -1.12466px rgba(0, 0, 0, 0.2);
}
.dropdown-content .item {
  @apply cursor-pointer px-4 py-2 text-cultured font-proximaNova-regular text-base;
}
.dropdown-content .item:hover {
  background: linear-gradient(131.09deg, rgba(47, 47, 47, 0.4) 8.8%, rgba(103, 100, 98, 0.11) 88.99%);
  box-shadow: 0px 4.49864px 26.9918px -1.12466px rgba(0, 0, 0, 0.2);
}
