@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Pretendard";
}
.font-proximaNova-regular {
  font-family: "ProximaNova-Regular";
}

header {
  @apply h-[70px] mx-[19px] flex items-center;
}
header img {
  @apply w-[140px];
}

.docker-not-detected {
  @apply dark:bg-darkjunglegreen min-h-screen;
}

.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.bg-lines::before {
  content: "";
  opacity: 0.1;
  background: url("../images/lines-bg.png") no-repeat;
  background-position: 50% 100%;
  @apply absolute top-0 right-0 left-0 w-full h-full bg-contain bottom-0;
}

.docker-not-detected__modal {
  @apply text-white relative;
  background: #26262a;
  margin: 1.5px;
}
.docker-modal-wrap {
  background: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
}

.docker-not-detected__modal hr {
  border-color: rgba(237, 237, 237, 0.34);
}

.modal-height {
  margin-bottom: 70px;
}

.btn-outline {
  padding: 8px 20px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  transition: 0.4s;
}
.btn-outline:hover {
  @apply border-tulip text-white;
}

.btn-outline-circle {
  @apply rounded-full transition-colors;
  font-family: "ProximaNova-bold";
  padding: 12px 20px;
}

.btn-primary {
  @apply bg-americanpink text-white p-[10px] h-[43px] text-base rounded-md;
}

.dashboard {
  @apply bg-darkjunglegreen pb-12;
}

.gradient-effect::after {
  content: "";
  background: url("../images/gradient1.png") no-repeat;
  @apply max-xl:bg-bottom bg-contain w-full h-[70%] xl:left-[300px];
  @apply absolute bottom-0 xl:w-[70%] xl:h-[900px] xl:bg-cover left-[0] right-0 mx-auto z-0;
}

.dashboard-top h1 {
  @apply font-bold text-[47px] leading-[40px] max-md:text-[40px] mt-4;
}
.dashboard-top h2 {
  @apply text-[30px] leading-[55px] max-md:leading-[48px] max-md:text-[28px];
}
.dashboard-top p {
  @apply text-[18px] leading-[28px];
}

.dashboard-bottom {
  @apply flex flex-wrap gap-8;
}

.mask-heading h2 {
  background: linear-gradient(90.13deg, #f49e97 6.35%, #f4bf97 82.76%);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  @apply mt-[54px] tracking-[0.035rem] bg-clip-text font-bold md:text-[30px] text-[20px] leading-9;
}

.dashboard-bottom__card {
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  @apply p-7 dark:text-white gap-6 flex items-center relative bg-transparent rounded-[10px] xl:w-[282px] md:w-[265px] w-full max-md:max-w-[300px];
}


.dashboard-bottom__card::before,
/* .modal::before, */
.gradient-border::after {
  content: "";
  @apply absolute inset-0 rounded-[12px] p-[2px] pointer-events-none;
  background: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.dashboard-bottom__card-box img {
  @apply -mt-1 h-[46px] w-[54px] flex items-center justify-center;
}
.dashboard-bottom__card h3 {
  letter-spacing: 0.035em;
  @apply md:text-lg text-base font-bold leading-[25px] text-brightgray;
}
.dashboard-bottom__card p {
  @apply text-sm leading-[30px] text-brightgray font-proximaNova-regular;
}
.dashboard-bottom__card .btn-outline-circle {
  @apply border-[1.5px] dark:border-brightgray dark:text-brightgray mt-[55px] flex items-center;
}

.dashboard-bottom__card .btn-outline-circle:hover {
  @apply border-tulip text-tulip;
}
.dashboard-bottom__card .btn-outline-circle:hover svg path {
  @apply fill-tulip;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .dashboard-bottom {
    @apply gap-4;
  }
}

.sidebar {
  @apply w-[218px] bg-[#28292D];
}
.sidebar-toggle .sidebar {
  @apply w-auto;
}

.sidebar li {
  @apply flex items-center py-[13px] px-5 hover:bg-darkjunglegreen rounded-md;
}
.sidebar li a {
  @apply w-full flex dark:text-cultured text-base font-medium;
}
.sidebar__search input {
  @apply font-proximaNova-regular text-manatee text-base;
  background-color: rgba(77, 77, 79, 0.22);
}
.sidebar__search button {
  @apply bg-darkliver w-[65px] h-[50px] rounded-md flex items-center justify-center;
}

.sidebar-toggle__btn {
  @apply text-base font-proximaNova-regular dark:text-cultured mt-[-60px] ml-[25px];
}
.sidebar-toggle {
  @apply w-[70px];
}
.sidebar-toggle .sidebar-toggle__btn button svg {
  @apply rotate-180;
}
.sidebar-toggle__btn button:hover svg path {
  @apply fill-[#FF7E7B];
}

.sidebar-toggle .sidebar li span,
.sidebar-toggle .sidebar-toggle__btn span,
.sidebar-toggle .sidebar__logo,
.sidebar-toggle .sidebar li button svg {
  @apply hidden;
}
.sidebar-toggle .sidebar li {
  @apply px-0 justify-center;
}

.sidebar-toggle .sidebar__search {
  @apply flex-col mt-4;
}
.sidebar-toggle .sidebar__search input {
  @apply w-[50px] px-[10px] mb-3;
}
.sidebar-toggle .sidebar__search img {
  @apply left-[15px];
}

.sidebar-toggle .sidebar__search input::placeholder {
  @apply opacity-0;
}
.sidebar-toggle .sidebar__search button {
  @apply w-[50px];
}
.sidebar-toggle .sidebar li a {
  @apply justify-center w-5 h-5;
}

.border-light {
  border-color: rgba(219, 213, 213, 0.1);
}

.prem-chat {
  @apply mt-8 border-2 border-lavendergray rounded-md;
}
.prem-chat select {
  @apply bg-transparent font-proximaNova-regular cursor-pointer border border-lavendergray text-cultured w-full z-10 px-4 py-[6px] appearance-none;
}

.custom-select {
  @apply relative;
}

.custom-select button {
  @apply absolute right-0 bottom-0 top-0 p-4 z-[-1];
}

.prem-chat-input input {
  @apply bg-darkcharcoal font-proximaNova-regular text-white text-sm outline-none rounded-[29px] h-[57px] mt-[14px] py-2 pl-[33px] pr-16 w-full;
}
.prem-chat-input svg {
  @apply bg-americanpink p-2 w-[35px] h-[35px] rounded-full stroke-white;
}
.prem-chat-input button {
  @apply absolute right-[21px] top-[25px];
}
.prem-chat-bottom {
  @apply sticky z-10 mt-auto bottom-0 pb-[33px] left-0 right-0 w-full;
}
.prem-chat-body {
  height: calc(100vh - 116px);
}

.bot-reply {
  @apply flex mb-[40px] mr-[70px];
}
.bot-reply p {
  background: linear-gradient(90.54deg, #e9928e 0%, #f49893 100%);
  border-radius: 0px 10.4294px 10.4294px 10.4294px;
  @apply py-[14px] ml-[23px] w-full px-[22px] max-w-[660px];
  @apply text-ghostwhite font-proximaNova-regular text-lg;
}
.bot-reply span {
  @apply bg-ruddypink w-[38px] h-[38px] rounded-full flex justify-center items-center;
}
.user-reply {
  @apply flex items-end mb-[40px];
}
.user-reply p {
  @apply bg-isabelline border py-4 px-[22px] ml-auto max-w-[660px] font-proximaNova-regular text-base text-arsenic;
  box-shadow: 10.4294px 10.4294px 26.0736px rgba(112, 124, 151, 0.05),
    15.6442px 15.6442px 36.5031px rgba(112, 124, 151, 0.05);
  border-radius: 10px 10px 0 10px;
  border-color: rgba(112, 124, 151, 0.25);
}
.right-sidebar__list li {
  @apply mb-[18px];
}
.right-sidebar__list li p {
  @apply font-proximaNova-regular text-base justify-between flex mb-6;
}

.right-sidebar__list li span:first-child {
  @apply text-cultured;
}
.right-sidebar__list li span:last-child {
  @apply text-spanishgray;
}

.range-slider.range-slider__bar {
  @apply h-[3px];
  background-color: rgba(237, 237, 237, 0.1);
}

.range-slider__bar.range-slider .range-slider__range {
  background-color: rgba(245, 142, 142, 1);
  @apply !left-0;
}
.range-slider__bar.range-slider .range-slider__thumb {
  @apply h-3 w-3;
  background: linear-gradient(146.31deg, #f58e8e 28.33%, #f5c58c 71.67%);
}
.range-slider__bar.range-slider .range-slider__thumb:nth-child(3) {
  @apply hidden;
}

.range-slider__bar.range-slider .range-slider__thumb::before {
  content: "";
  background: rgba(249, 201, 161, 0.4);
  @apply absolute right-[-2px] left-[-2px] bottom-[-2px] top-[-2px] rounded-full;
}

.dropdown {
  @apply relative;
}
.dropdown-content {
  @apply rounded absolute right-0 z-10 left-0 w-full bg-[#303036] shadow-default;
}
.dropdown-content .item {
  @apply cursor-pointer px-4 py-2 text-cultured font-proximaNova-regular text-base;
}
.dropdown-content .item:hover {
  background: linear-gradient(
    131.09deg,
    rgba(47, 47, 47, 0.4) 8.8%,
    rgba(103, 100, 98, 0.11) 88.99%
  );
  @apply shadow-default;
}

.sidebar-main .sidebar li .tooltip {
  @apply bg-[#E9928E] capitalize;
  z-index: 100;
}

.sidebar-main .sidebar li:hover {
  @apply bg-[#323232] font-semibold;
}
.sidebar-main .sidebar li:hover svg:not(.svg-stroke) path {
  @apply fill-[#FF7E7B] transition-all;
}
.sidebar-main .sidebar li a.active svg path {
  @apply fill-[#FF7E7B];
}
.sidebar-last__row li:last-child:hover a svg.svg-stroke path ,
.sidebar-last__row li:last-child a.active svg.svg-stroke path {
  @apply stroke-[#FF7E7B] !fill-none;
}

.sidebar-main .sidebar {
  @apply bg-[#28292D];
}
.sidebar-main .sidebar li {
  @apply cursor-pointer p-0 mb-2;
}
.sidebar-main .sidebar li a {
  @apply text-lg items-center py-3 md:px-5 rounded-md;
}
.sidebar-main.sidebar-toggle li a {
  @apply h-auto w-auto;
}

.sidebar-main {
  @apply fixed z-10;
}
.sidebar-main .sidebar-toggle__btn {
  @apply relative z-10;
}

.active {
  @apply bg-[#323232];
}

.coming-soon {
  @apply px-[30px] py-[25px];
  background: linear-gradient(
    131.09deg,
    rgba(47, 47, 47, 0.4) 8.8%,
    rgba(103, 100, 98, 0.11) 88.99%
  );
  border-radius: 9px;
  border: 1.8px solid rgba(237, 237, 237, 0.2);
  box-shadow: 0px 4.6684px 28.0104px -1.1671px rgba(0, 0, 0, 0.2);
}

.coming-soon__box {
  @apply rounded-[22px] p-6 gap-6 flex items-center relative shadow-default;
  background: linear-gradient(
    131.09deg,
    rgba(47, 47, 47, 0.4) 8.8%,
    rgba(103, 100, 98, 0.11) 88.99%
  );
}

.coming-soon__box::before {
  content: "";
  @apply absolute rounded-2xl inset-0 p-[1.5px] pointer-events-none shadow-default;
  background: linear-gradient(
    131.93deg,
    rgba(245, 142, 142, 0.6) 11.72%,
    rgba(246, 162, 148, 0.23) 38.41%,
    rgba(248, 190, 157, 0.23) 66.36%,
    rgba(249, 212, 164, 0.6) 91.8%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.coming-soon__box p:first-child {
  @apply w-[117px] h-4;
  background: linear-gradient(
    90.97deg,
    rgba(217, 217, 217, 0.39) -4.93%,
    rgba(217, 217, 217, 0) 95.33%
  );
}
.coming-soon__box-line {
  @apply w-[38px] h-4 mt-1;
  background: linear-gradient(
    90.97deg,
    rgba(217, 217, 217, 0.39) -4.93%,
    rgba(217, 217, 217, 0) 95.33%
  );
}

.coming-soon__box-left {
  @apply rounded-lg w-[60px] h-[60px];
  background: linear-gradient(
    90.97deg,
    rgba(217, 217, 217, 0.39) -4.93%,
    rgba(217, 217, 217, 0) 95.33%
  );
}

.services-running::after {
  content: "";
  @apply absolute inset-0 rounded-[12px] rotate-180 shadow-default pointer-events-none;
  background: linear-gradient(312.93deg, rgba(245, 142, 142, 0.46) -4.82%, rgba(245, 142, 142, 0.61) 8.19%, rgba(245, 142, 142, 0.08) 61.08%);
}
.search-filter {
  @apply lg:h-[50px];
}
.search-filter > input {
  @apply rounded-sm w-full py-2 text-manatee px-12 focus:shadow-none focus:outline-none;
  background-color: rgba(77, 77, 79, 0.22);
}
.dropdown-menu {
  @apply bg-darkjunglegreen border py-4 pl-6 pr-3 invisible rounded-lg opacity-0 top-[50px] right-0 w-[244px] absolute translate-y-[-20px];
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border-color: rgba(149, 151, 163, 0.5);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
.dropdown-menu.dropdown-active {
  @apply opacity-100 visible translate-y-0 z-[11];
}
.dropdown-menu li {
  @apply text-spanishgray flex cursor-pointer;
}
.dropdown-menu input[type="checkbox"] {
  @apply w-4 h-4 border border-lavendergray;
}
.dropdown-menu input[type="checked"] {
  @apply bg-tulip;
}
.dropdown-menu li label {
  @apply flex items-center cursor-pointer w-full pb-4 text-sm;
}
.dropdown-menu li label span {
  @apply font-proximaNova-regular select-none;
}
.dropdown-menu li input[type="checkbox"] {
  @apply border mr-4 border-lavendergray w-5 h-5 appearance-none cursor-pointer rounded-sm;
}
.dropdown-menu li input:checked {
  @apply relative border-transparent bg-tulip;
}
.dropdown-menu li input:checked::before {
  content: "\2713";
  @apply absolute top-[-1px] right-[1px] text-[1.1rem] text-darkcharcoal;
}

.warning-modal {
  @apply top-0 fixed left-0 z-[11] overflow-y-auto overflow-x-hidden h-full w-full flex items-center;
}
.warning-modal::before {
  content: "";
  @apply fixed top-0 left-0 z-[1] w-screen h-screen backdrop-blur-[20px] shadow-default;
  background: linear-gradient(131.09deg, rgba(29, 29, 27, 0.49) 8.8%, rgba(29, 29, 27, 0.76) 88.99%);
}
.warning-modal__content {
  @apply p-6 mx-auto relative rounded-2xl z-[11] bg-[#26262A] max-w-[500px] text-brightgray;
}
.warning-modal__footer {
  @apply flex items-center gap-8;
}
.hr {
  @apply border-t -mx-6 pt-6 mt-[37px] opacity-50;
  border-color: rgba(237, 237, 237, 0.34);
}
.polygon-shape {
  background: url("../images/polygon-shape.svg") no-repeat;
  @apply min-w-[100px] h-[65px] flex justify-center items-center bg-contain;
  background-position: 13px 0px;
}
.polygon-shape  svg {
  @apply w-[22px] h-[22px] mt-[14px];
}

.settings-card h3 {
  @apply text-brightgray text-lg mb-7;
}
.progress {
  @apply border w-full overflow-hidden rounded-[2px];
}
.progress-container {
  @apply h-5 bg-lightsalmonpink;
  transform: skew(-20deg) translateX(-10px);
}
.settings-card li {
  @apply w-full;
}
.settings-card li span {
  @apply text-brightgray font-semibold text-[13px] pb-3 gap-3;
}

.form-control {
  background: rgba(77, 77, 79, 0.22);
  color: rgba(255, 255, 255, 0.6);
  @apply rounded-md py-3 px-5 w-full focus:!ring-0 focus:outline-none;
}
.form-control::placeholder,
.select-control select {
  @apply text-sm;
  color: rgba(255, 255, 255, 0.6);
}

.form-label {
  @apply font-semibold text-sm text-white;
}
.form-control[disabled]::placeholder {
  @apply opacity-20;
}

.settings::after {
  content: "";
  background: url("../images/bottom-gradient.png") no-repeat;
  @apply max-xl:bg-bottom bg-contain w-full h-[75%] opacity-80 z-[-1];
  @apply absolute bottom-0 xl:w-[80%] xl:bg-cover left-[-150px] right-0 mx-auto
  ;
}
.select-control {
  @apply w-full;
}
.select-control select {
  background: url('../images/down.svg') no-repeat 100% 50%;
  background-color: rgba(77, 77, 79, 0.22);
  background-position-x: 95%;
  @apply appearance-none h-full;
}
.topltip {
  @apply !text-[10px] !text-brightgray rounded-md;
}
.service-detail {
  @apply flex gap-4 max-lg:flex-wrap max-lg:gap-8;
}

.service-detail .card {
  @apply rounded-md shadow-default;
  background: linear-gradient(131.09deg, rgba(47, 47, 47, 0.4) 8.8%, rgba(103, 100, 98, 0.11) 88.99%);
}
.service-detail .card h1 {
  @apply text-brightgray font-bold text-xl;
}
.service-detail .card h2,
.service-detail__documentation h3 {
  @apply font-bold text-base text-brightgray mt-8 mb-6;
  font-family: "ProximaNova-bold";
}
.service-detail .card p {
  color: #EDEDED;
  font-family: "ProximaNova-Regular";
}

.service-detail ul {
  @apply ml-4;
}
.service-detail li {
  @apply text-brightgray font-proximaNova-regular text-sm leading-7;
}

.right-top-card p {
  @apply text-brightgray text-sm mb-2;
}
.right-top-card .progress-container {
  @apply transform-none;
}
.right-general-card {
  @apply flex gap-7 mb-3;
}
.right-general-card span {
  @apply text-brightgray font-proximaNova-regular text-base w-1/2;
}

.ReactModal__Overlay {
  @apply !bg-transparent z-[11];
}

.documentation-markdown h1 {
  @apply text-[32px] font-bold leading-[50px] mb-4;
  font-family: "ProximaNova-bold";
}
.documentation-markdown code {
  @apply whitespace-normal font-proximaNova-regular text-sm text-brightgray mb-4 block;
}
.documentation-modal {
  max-height: calc(100vh - 100px);
  @apply overflow-y-auto overflow-x-hidden;
}
.documentation-markdown {
  @apply px-4;
}
.documentation-modal::-webkit-scrollbar {
  @apply w-[3px];
}
.documentation-modal::-webkit-scrollbar-track {
  @apply rounded-md;
  background-color: rgba(237, 237, 237, 0.1);
}
.documentation-modal::-webkit-scrollbar-thumb {
  @apply rounded-md;
  background: linear-gradient(90deg, #F58E8E 0%, #F9D4A4 99.36%);
}

.reset-topltip {
  @apply !bg-[#353539] !text-[10px] !text-brightgray rounded-md;
}
.reset-topltip__arrow {
  @apply p-[10px] -mt-[5px];
}

.gpu-resources__header {
  @apply rounded-tl-md rounded-bl-md bg-[#1D1D1D] py-8 px-9;
  box-shadow: 0px 3.74684px 22.481px -0.93671px rgba(0, 0, 0, 0.2);
}
.gpu-resources__body {
  background: linear-gradient(131.09deg, rgba(47, 47, 47, 0.4) 8.8%, rgba(103, 100, 98, 0.11) 88.99%);
  box-shadow: 0px 3.74684px 22.481px -0.93671px rgba(0, 0, 0, 0.2);
}