@tailwind base;
@tailwind components;
@tailwind utilities;


header {
  @apply h-[70px] mx-[19px] flex items-center;
}
header img {
  @apply w-[140px];
}

.docker-not-detected {
  @apply dark:bg-darkjunglegreen;
}

/* .bg-lines::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 36px;
  height: 100%;
  width: 100%;
} */

.docker-not-detected__modal {
  background: linear-gradient(131.09deg, rgba(47, 47, 47, 0.4) 8.8%, rgba(103, 100, 98, 0.11) 88.99%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  @apply text-white;
}
.docker-not-detected__modal hr {
  border-color:rgba(237, 237, 237, 0.34);
}

.modal-height {
  height: calc(100vh - 70px);
}

.btn-outline {
  padding: 8px 20px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  transition: 0.4s;
}
.btn-outline:hover {
  @apply border-tulip text-white;
}